/* Fonts */
@font-face {
	font-family: 'SourceCodePro';
	src: url('/fonts/SourceCodePro.eot');
	src:
		url('/fonts/SourceCodePro.eot?#iefix') format('embedded-opentype'),
		url('/fonts/SourceCodePro.woff') format('woff'),
		url('/fonts/SourceCodePro.ttf') format('truetype');
}

@font-face {
  font-family:'Gotham-Light';
  src:url('/fonts/Gotham-Light.eot');
  src:
    url('/fonts/Gotham-Light.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Gotham-Light.woff') format('woff'),
    url('/fonts/Gotham-Light.ttf') format('truetype');
}

@font-face {
	font-family:'Open-Sans';
	src: url('/fonts/Open-Sans.eot');
	src:
		url('/fonts/Open-Sans.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Open-Sans.woff') format('woff'),
		url('/fonts/Open-Sans.ttf') format('truetype');
}


/* Base styles */
* { font-family:'Open-Sans'; font-size:16px; }
html, body { margin:0; padding:0; background:#fff; }
pre, code { font-family:'SourceCodePro'; }
code { background-color:#ccccff; color:#333366; }
a { color:#660099; }
a:hover { color:#660099; }

/* Github buttons */
#bar { background:#eee; }

/* Header */
header { background:#4f3b5b;
	background:-webkit-radial-gradient(ellipse at center,#4f3b5b 0,#231733 100%);
	background:-moz-radial-gradient(ellipse at center,#4f3b5b 0,#231733 100%);
	background:-ms-radial-gradient(ellipse at center,#4f3b5b 0,#231733 100%);
	background:radial-gradient(ellipse at center,#4f3b5b 0,#231733 100%); }
#banner { height:12em; }
h1 { font-family:'Gotham-Light'; font-size:4em; font-weight:normal; text-align:right; color:#eee; margin:0; padding:0.2em; display:block; position:absolute; bottom:0; right:0; }
h1 span { color:#231733; font-size:1em; }

/* Buttons */
#buttons { text-align:center; margin:0; padding:10px 0 3px; }
#bar { box-shadow:0 1px 5px #ccc; }

/* Leftnav */
.affix { top:3em; }
.affix-top { margin-top:1.5em; }
.affix-bottom { margin-top:3em; }
.nav-pills>li>a { background:none; color:#660099; }
.nav-pills>li>a:hover,
.nav-pills>li>a:focus { background:none; text-decoration:underline; }
.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus { background:none; color:#660099; font-weight:bold; }
.nav-pills>li.active>a:before { font-family:FontAwesome; content:'\f054'; font-size:0.8em; position:absolute; line-height:2em; left:-0.5em; }

/* Main */
#main { padding-top:2em; padding-bottom:3em; }
h2 { margin:2em 0 0.5em; padding-bottom:0.5em; border-bottom:1px solid #eee; }
#buttons.list-inline>li { padding-bottom:5px; }

/* Footer */
footer { font-size:0.75em; margin:6em 3em 3em 3em; color:#333; }
footer ul { text-align:center; }