/*!
 * Custom Styles
 */

/* Color vars */
@purple-light:#4f3b5b;
@purple-dark:#231733;
@yellow: #f1df3a;
@purple: #7262B4;
@blue: #3c94e3;

/* Fonts */
@import 'fonts.less';

/* Base styles */
html, body { background:#fff; font-family:'Open-Sans'; font-size:16px; height:100%; margin:0; padding:0; width:100%; }
pre, code { font-family:'SourceCodePro'; }
code { background-color:#ccccff; color:#333366; }
a { color:#660099;
    &:hover { color:#660099; }
}

/* Github buttons */
.bar { background:#eee; }

/* Header */
.env-badge { background-color:@yellow; box-shadow:0 1px 4px 0 rgba(0, 0, 0, 0.5); left:50%; margin-left:-100px; opacity:0.5; position:fixed; text-align:center; width:200px; z-index:1000;
  &.local { background-color:@purple; }
  &.develop { background-color:@blue; }

  span { color:#fff; text-transform:uppercase; }
}

header {
    background:@purple-light;
    background:-webkit-gradient(radial, center center, 0px, center center, 100%, from(@purple-light), to(@purple-dark));
    background:-webkit-radial-gradient(ellipse at center,@purple-light 0,@purple-dark 100%);
    background:-moz-radial-gradient(ellipse at center,@purple-light 0,@purple-dark 100%);
    background:-ms-radial-gradient(ellipse at center,@purple-light 0,@purple-dark 100%);
    background:-o-radial-gradient(ellipse at center,@purple-light 0,@purple-dark 100%);
    background:radial-gradient(ellipse at center,@purple-light 0,@purple-dark 100%);
}
.banner { height:12em; }
h1 { bottom:0; color:#eee; display:block; font-family:'Gotham-Light'; font-size:4em; font-weight:normal; margin:0; padding:0.2em; position:absolute; right:0; text-align:right;
    span { color:@purple-dark; font-size:1em; }
}
main h1 { display: none; }
h2 { border-bottom:1px solid #eee; margin:1em 0 0.5em; padding-bottom:0.5em; }
h5 { bottom:0; color:#eee; display:block; font-family:'Gotham-Light'; font-size:1em; font-weight:normal; margin:0; padding:1em; position:absolute; right:0; text-align:right; }

/* Buttons */
.buttons { margin:0; padding:10px 0 3px; text-align:center;
    li { margin:0.5em; }
}
.bar { box-shadow:0 1px 5px #ccc; }

/* Leftnav */
.affix { top:0.5em; }
.affix-top { margin-top:1.5em; }
.affix-bottom { margin-top:3em; }
.nav-pills {
    > li {
        > a { background:none; color:#660099;
            &:hover,
            &:focus { background:none; text-decoration:underline; }
        }
        &.active {
            > a:hover, > a:focus, > a { background:none; color:#660099; font-weight:bold; }
            > a:before { content:'\f054'; font-family:'FontAwesome'; font-size:0.8em; left:-0.5em; line-height:2em; position:absolute; }
        }
    }
}

/* Body */
body {
    &.error { background:@purple-light;
            background:-moz-radial-gradient(ellipse at center, @purple-light 0, @purple-dark 100%);
            background:-ms-radial-gradient(ellipse at center, @purple-light 0, @purple-dark 100%);
            background:-o-radial-gradient(ellipse at center, @purple-light 0, @purple-dark 100%);
            background:-webkit-gradient(radial, center center, 0px, center center, 100%, from(@purple-light), to(@purple-dark));
            background:-webkit-radial-gradient(ellipse at center, @purple-light 0, @purple-dark 100%);
            background:radial-gradient(ellipse at center, @purple-light 0, @purple-dark 100%);
        p { color:#fff; font-family:Gotham-Light; margin-left:auto; margin-right:auto; text-align:center;
            a { color:#ccc; font-family:Gotham-Light; }
        }
    }
}

/* Main */
.main { padding-bottom:3em; padding-top:2em; }
ul.buttons > li { padding:0; }

/* Footer */
footer { color:#333; font-size:0.75em; margin:3em;
    ul { text-align:center; }
}
