/*!
 * Custom Fonts
 */

@font-face {
    font-family: 'SourceCodePro';
    src: url('/fonts/sourcecodepro-regular.eot');
    src:
        url('/fonts/sourcecodepro-regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/sourcecodepro-regular.woff') format('woff'),
        url('/fonts/sourcecodepro-regular.ttf') format('truetype');
}

@font-face {
  font-family:'Gotham-Light';
  src:url('/fonts/Gotham-Light.eot');
  src:
    url('/fonts/Gotham-Light.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Gotham-Light.woff') format('woff'),
    url('/fonts/Gotham-Light.ttf') format('truetype');
}

@font-face {
    font-family:'Open-Sans';
    src: url('/fonts/OpenSans-Regular.eot');
    src:
        url('/fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/OpenSans-Regular.woff') format('woff'),
        url('/fonts/OpenSans-Regular.ttf') format('truetype');
}
