{{#extend "base" title="VoidJS" bodyClass="home"}}

    {{#content "body"}}
        <header>
            <div class="container">
                <div class="row">
                    <div id="banner" class="col-md-offset-1 col-md-10 banner">
                        <h1>Void<span>JS</span></h1>
                        <h5>{{version}}</h5>
                    </div>
                </div>
            </div>
        </header>

        <section id="bar" class="bar">
            <div class="container">
                <div class="row">
                    <div class="col-md-offset-1 col-md-10">
                        <ul id="buttons" class="list-inline buttons">
                            <li><iframe src="https://ghbtns.com/github-btn.html?user=edj-boston&amp;repo=void&amp;type=star&amp;count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe></li>
                            <li><iframe src="https://ghbtns.com/github-btn.html?user=edj-boston&amp;repo=void&amp;type=watch&amp;count=true&amp;v=2" allowtransparency="true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe></li>
                            <li class="hidden-xs"><iframe src="https://ghbtns.com/github-btn.html?user=edj-boston&amp;repo=void&amp;type=fork&amp;count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe></li>
                            <li class="hidden-xs"><iframe src="https://ghbtns.com/github-btn.html?user=edj-boston&amp;type=follow&amp;count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <main class="container">
            <div class="row">
                <div class="col-md-offset-1 col-md-2 hidden-xs hidden-sm">
                    <div class="navbar" data-spy="affix" data-offset-top="255">
                        <ul id="left-nav" class="nav nav-pills nav-stacked"></ul>
                    </div>
                </div>
                <div id="main" class="col-md-8 main">
                    {{{readme}}}
                </div>
            </div>
        </main>

        <footer class="container">
            <div class="row">
                <div class="col-md-offset-1 col-md-10">
                    <ul class="list-inline">
                        <li><a href="https://twitter.com/share" class="twitter-share-button">Tweet</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></li>
                        <li class="hidden-xs"><a href="https://twitter.com/edjboston" class="twitter-follow-button" data-show-count="true">Follow @edjboston</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <ul class="list-unstyled list-inline">
                        <li id="copyright">&copy; {{year}} <a class="external" href="https://github.com/edj-boston">edj</a></li>
                        <li><i class="fa fa-github"></i> <a class="external" href="https://github.com/edj-boston/void">source</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    {{/content}}

{{/extend}}
